<div data-view="about">
    <div data-role="about-tile" data-tile="cv" data-clickable="true">CV</div>
    <div data-role="about-tile" data-tile="cta">
        <div>Hello! My name is Pavel Kuzmin.</div>
        <div>I'm a Software Engineer passionate about building things.</div>
        <div>Gamedev, Web, AI, some BCI and robotics.</div>
        <div>This is just my CV, click to open.</div>
    </div>
    <div data-role="about-tile" data-tile="intro"></div>
    <div data-role="about-tile" data-tile="blog" data-clickable="true">BLOG</div>
</div>
