<div data-view="about" class="about-screen">
    <div
        data-role="about-tile"
        data-tile="cv"
        data-clickable="true"
        class="about-screen-tile about-screen-tile-cv about-screen-tile-interactive"
    >
        CV
    </div>
    <div data-role="about-tile" data-tile="cta" class="about-screen-tile about-screen-tile-cta">
        <div>Hello! My name is Pavel Kuzmin.</div>
        <div>I'm a Software Engineer passionate about building things.</div>
        <div>Gamedev, Web, AI, some BCI and robotics.</div>
        <div>This is just my CV, click to open.</div>
    </div>
    <div
        data-role="about-tile"
        data-tile="intro"
        class="about-screen-tile about-screen-tile-intro"
    ></div>
    <div
        data-role="about-tile"
        data-tile="blog"
        data-clickable="true"
        class="about-screen-tile about-screen-tile-blog about-screen-tile-interactive"
    >
        BLOG
    </div>
</div>
