body {
    width: 100dvw;
    height: 100dvh;
    margin: 0;
    background-color: var(--white-color);
    color: var(--black-color);
    transition:
        background-color 200ms ease,
        color 200ms ease;
}

body {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-base);
    line-height: var(--line-height-base);
    font-family: var(--font-family-base), serif;
    letter-spacing: var(--letter-spacing-base);
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
}

html {
    scrollbar-gutter: stable;
}

span {
    display: block;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:focus-visible {
    outline: 2px solid var(--link-color);
    outline-offset: 2px;
}

img.photo {
    position: absolute;
    top: var(--padding-page);
    right: var(--padding-page);
    width: var(--photo-size);
    margin-right: var(--margin-image-right);
}

img:hover {
    opacity: 0.9;
}

.mobile {
    display: none;
}
