.blog-screen {
    display: none;
    position: relative;
    max-width: var(--size-content-max-width);
    margin: auto;
    padding: var(--space-page-padding);
}

.blog-screen.is-visible {
    display: block;
}

.blog-screen > div {
    margin-bottom: var(--space-section);
}

.blog-screen-title {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-name);
}
