.about-screen {
    display: grid;
    z-index: 1;
    position: fixed;
    grid-template: repeat(2, minmax(0, 1fr)) / repeat(2, minmax(0, 1fr));
    width: 100vw;
    height: 100dvh;
    inset: 0;
    background-image:
        linear-gradient(
            to right,
            transparent calc(50% - 1px),
            var(--md-sys-color-outline-variant) calc(50% - 1px),
            var(--md-sys-color-outline-variant) calc(50% + 1px),
            transparent calc(50% + 1px)
        ),
        linear-gradient(
            to bottom,
            transparent calc(50% - 1px),
            var(--md-sys-color-outline-variant) calc(50% - 1px),
            var(--md-sys-color-outline-variant) calc(50% + 1px),
            transparent calc(50% + 1px)
        );
    background-repeat: no-repeat;
    text-align: center;
    cursor: default;
}

.about-screen.is-hidden {
    display: none;
}

.about-screen-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 200ms ease;
}

.about-screen-tile-interactive {
    cursor: pointer;
}

.about-screen-tile-interactive:hover {
    background-color: var(--md-sys-color-surface-container);
}

.about-screen-tile-cv {
    align-items: flex-end;
    justify-content: flex-end;
}

.about-screen-tile-blog {
    align-items: flex-start;
    justify-content: flex-start;
}

.about-screen-tile-cv,
.about-screen-tile-blog {
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-about-tile);
    text-transform: uppercase;
    line-height: .8;
    padding: var(--size-8);
}

.about-screen-tile-intro,
.about-screen-tile-cta {
    align-items: flex-end;
    justify-content: flex-start;
    max-width: var(--size-about-content-max-width);
    font-size: var(--font-base);
    padding: var(--size-8);
    /*line-height: .8;*/
}

.about-screen-tile-cta {
    align-items: flex-start;
    justify-content: flex-end;
    text-align: left;
}

.is-hidden {
    display: none;
}

.is-visible {
    display: block;
}
