@media only screen and (width <= 600px) {
    .mobile {
        display: block;
    }

    body {
        letter-spacing: var(--letter-spacing-mobile);
    }

    [data-role='color-scheme'] {
        top: var(--space-color-scheme-offset-mobile);
        right: var(--space-color-scheme-offset-mobile);
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--md-sys-color-surface);
        color: var(--md-sys-color-on-surface);
    }
}
