body {
    margin: 0;

    /* margin: 50px; */
    background-color: var(--white-color);
    color: var(--black-color);
    font-size: var(--font-base);
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    line-height: 1.5;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    transition:
        background-color 200ms ease,
        color 200ms ease;
}

html {
    scrollbar-gutter: stable;
}

span {
    display: block;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:focus-visible {
    outline: 2px solid var(--link-color);
    outline-offset: 2px;
}

img {
    position: absolute;
    top: var(--padding-page);
    right: var(--padding-page);
    width: var(--photo-size);
    margin-right: var(--margin-image-right);

    /* opacity: .1; */
}

img:hover {
    opacity: 0.9;
}

.mobile {
    display: none;
}
