[data-role='photo'] {
    border-radius: var(--photo-radius);
}

[data-role='name'] {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-size: var(--font-name);
}

[data-role='occupation'] {
    font-size: var(--font-title);
}

[data-role='occupation'] a {
    color: black;
}

.title {
    font-weight: bold;
    font-size: var(--font-title);
}

[data-role='description'] {
    /* width: 90%; */
}

[data-role='color-scheme'] {
    position: fixed;
    top: var(--color-scheme-offset);
    right: var(--color-scheme-offset);
    cursor: pointer;
    user-select: none;
}
