:root.light {
    color-scheme: light;
    --black-color: ghostwhite;
    --white-color: #282727;
}

:root.dark {
    color-scheme: dark;
    --black-color: #282727;
    --white-color: ghostwhite;
}

body {
    margin: 0;
    /*margin: 50px;*/
    background-color: var(--white-color);
    color: var(--black-color);
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;

    letter-spacing: 1px;
}

span {
    display: block;
}

a {
    color: #4d90fe;
    text-decoration: none;
}

#cv div {
    margin-bottom: 20px;
}

img {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 150px;
    margin-right: 50px;
    /*opacity: .1;*/
}

img:hover {
    opacity: 0.9;
}

.mobile {
    display: none;
}

#photo {
    border-radius: 3px;
}

#name {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-size: 22px;
}

#occupation {
    font-size: 18px;
}

#occupation a {
    color: black;
}

.hint {
    color: lightgray;
}

.title {
    font-weight: bold;
    font-size: 18px;
}

#about {
    /*padding-left: 20px;*/
}

#projects {
    padding-left: 20px;
}

#experience {
    padding-left: 20px;
}

.job {
    /*background-color: #AFEEEE;*/
}

.hidden {
    /*	color: white;*/
    opacity: 0.05;
}

#typesetting {
    display: flex;
    flex-direction: row;
}

#cv {
    display: none;
    position: relative;
    max-width: 800px;
    margin: auto;
    padding: 50px;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*display: flex;*/

    justify-content: center;
    /*text-transform: uppercase;*/
    /*height: 100%;*/

    /*max-width: 800px;*/
    height: 100vh;
    gap: 20px;
    /*line-height: 100vh;*/
    text-align: center;
    /*text-wrap: normal;*/

    cursor: pointer;
}

#about div {
    max-width: 800px;
}

#menu {
    display: block;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;

    font-size: 40px;
}

#menu > div {
    margin: 20px;
    font-weight: 300;
    letter-spacing: 5px;

    cursor: pointer;
}

#description {
    /*width: 90%;*/
}

#color-scheme {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    user-select: none;
}

@media only screen and (max-width: 600px) {
    .mobile {
        display: block;
    }
    body {
        /*background-color: lightblue;*/
        /*margin: 40px;*/
    }
    #photo {
        display: none;
    }
    #experience {
        padding-left: 0;
    }

    #color-scheme {
        top: 50px;
        right: 50px;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--black-color);
        color: var(--white-color);
    }
}
