[data-view='cv'] div {
    margin-bottom: var(--spacing-section);
}

[data-view='cv'] {
    display: none;
    position: relative;
    max-width: var(--page-max-width);
    margin: auto;
    padding: var(--padding-page);
}

[data-view='about'] {
    /* padding-left: 20px; */
}

[data-role='projects'] {
    padding-left: var(--spacing-section);
}

[data-role='experience'] {
    padding-left: var(--spacing-section);
}

[data-role='typesetting'] {
    display: flex;
    flex-direction: row;
}

[data-view='about'] {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* display: flex; */

    justify-content: center;

    /* text-transform: uppercase; */

    /* height: 100%; */

    /* max-width: 800px; */
    height: var(--typesetting-height);
    gap: var(--gap-about);

    /* line-height: 100vh; */
    text-align: center;

    /* text-wrap: normal; */

    cursor: pointer;
}

[data-view='about'] div {
    max-width: var(--about-max-width);
}

.is-hidden {
    display: none !important;
}

.is-visible {
    display: block !important;
}
