.cv div {
    margin-bottom: var(--spacing-section);
}

.cv {
    display: none;
    position: relative;
    max-width: var(--page-max-width);
    margin: auto;
    padding: var(--padding-page);
}

.about {
    /* padding-left: 20px; */
}

.projects {
    padding-left: var(--spacing-section);
}

.experience {
    padding-left: var(--spacing-section);
}

.typesetting {
    display: flex;
    flex-direction: row;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* display: flex; */

    justify-content: center;

    /* text-transform: uppercase; */

    /* height: 100%; */

    /* max-width: 800px; */
    height: var(--typesetting-height);
    gap: var(--gap-about);

    /* line-height: 100vh; */
    text-align: center;

    /* text-wrap: normal; */

    cursor: pointer;
}

.about div {
    max-width: var(--about-max-width);
}

.menu {
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: var(--typesetting-height);
    font-size: var(--font-menu);
}

.menu > div {
    margin: var(--spacing-section);
    font-weight: 300;
    letter-spacing: 5px;
    cursor: pointer;
}
