@media only screen and (width <= 600px) {
    .mobile {
        display: block;
    }

    body {
        /* background-color: lightblue; */

        /* margin: 40px; */
        letter-spacing: 0.5px;
    }

    [data-role='photo'] {
        display: none;
    }

    [data-role='experience'] {
        padding-left: 0;
    }

    [data-role='color-scheme'] {
        top: var(--color-scheme-offset-mobile);
        right: var(--color-scheme-offset-mobile);
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--black-color);
        color: var(--white-color);
    }
}
