:root.light {
    color-scheme: light;

    --black-color: ghostwhite;
    --white-color: #343434;
    --about-line-color: rgb(0 0 0 / 60%);
    --about-hover-bg: rgb(255 255 255 / 14%);
}

:root.dark {
    color-scheme: dark;

    --black-color: #282727;
    --white-color: ghostwhite;
    --about-line-color: rgb(0 0 0 / 20%);
    --about-hover-bg: rgb(0 0 0 / 4%);
}

:root {
    --link-color: #4d90fe;
}
