:root {
    --space-section: var(--size-6);
    --space-page-padding: var(--size-9);
    --space-photo-offset-inline-end: var(--size-9);
    --space-about-content-offset: var(--size-8);
    --space-color-scheme-offset: var(--size-6);
    --space-color-scheme-offset-mobile: var(--size-8);
}

@media only screen and (width <= 600px) {
    :root {
        --space-about-content-offset: var(--size-5);
    }
}
