<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FS8WCTL443"></script>
    <script>
        window.dataLayer = window.dataLayer || []
        function gtag() {
            dataLayer.push(arguments)
        }
        gtag('js', new Date())

        gtag('config', 'G-FS8WCTL443')
    </script>

    <meta charset="UTF-8" />
    <meta
        name="viewport"
        content="width=device-width, height=device-height, initial-scale=1, viewport-fit=cover, user-scalable=no, minimal-ui"
    />

    <style>
        html.app-loading,
        html.app-loading body {
            visibility: hidden;
        }
    </style>

    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600;700&family=Inter:wght@400;600;700&family=Manrope:wght@400;600;700&family=Onest:wght@400;600;700&family=Source+Sans+3:wght@400;600;700&display=swap"
        rel="stylesheet"
        type="text/css"
    />

    <title>Pavel K</title>

    <link rel="shortcut icon" type="image/png" href="/images/favicon.png" />
    <!--        <link rel="manifest" href="manifest.json">-->

    <meta name="theme-color" content="#000" />
    <meta name="theme" content="#000" />

    <meta name="apple-mobile-web-app-status-bar-style" content="white-translucent" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!--        <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">-->

    <meta name="mobile-web-app-capable" content="yes" />

    <meta name="description" content="CV" />
</head>
