:root.light {
	color-scheme: light;
	--black-color: ghostwhite;
	--white-color: #282727;
}

:root.dark {
	color-scheme: dark;
	--black-color: #282727;
	--white-color: ghostwhite;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	/*margin: 50px;*/
	background-color: var(--white-color);
	color: var(--black-color);
	margin: 0;

	letter-spacing: 1px;
}

span {
	display: block;
}

a {
	text-decoration: none;
	color: #4d90fe;
}

#cv div {
	margin-bottom: 20px;
}

img {
	position: absolute;
	top: 50px;
	right: 50px;
	margin-right: 50px;
	width: 150px;
	/*opacity: .1;*/
}

img:hover {
	opacity: .9;
}

.mobile {
	display: none;
}

#photo {
    border-radius: 3px;
}

#name {
	font-size: 22px;
	font-weight: bold;
	display: flex;
	flex-direction: row;
}

#occupation {
	font-size: 18px;
}

#occupation a {
	color: black;
}

.hint {
	color: lightgray;
}

.title {
	font-size: 18px;
	font-weight: bold;
}

#about {
	/*padding-left: 20px;*/
}

#projects {
	padding-left: 20px;
}

#experience {
	padding-left: 20px;
}

.job {
	/*background-color: #AFEEEE;*/
}

.hidden {
/*	color: white;*/
	opacity: 0.05;
}

#typesetting {
	display: flex;
	flex-direction: row;
}

#cv {
	display: none;
	position: relative;
	max-width: 800px;
	margin: auto;
	padding: 50px;
}


#about {
	display: none;
	flex-direction: column;
	gap: 20px;
	/*text-transform: uppercase;*/
	/*height: 100%;*/

	/*max-width: 800px;*/
	height: 100vh;
	/*display: flex;*/

	justify-content: center;
	align-items: center;
	/*line-height: 100vh;*/
	text-align: center;
	/*text-wrap: normal;*/

	cursor: pointer;
}

#about div {
	max-width: 800px;
}

#menu {
	width: 100%;
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;

	align-items: center;

	font-size: 40px;
}

#menu > div {
	margin: 20px;
	letter-spacing: 5px;
	font-weight: 300;

	cursor: pointer;
}

#description {
	/*width: 90%;*/
}

#color-scheme {
	position: fixed;
	right: 20px;
	top: 20px;
	cursor: pointer;
	user-select: none;
}

@media only screen and (max-width: 600px) {
	.mobile {
		display: block;
	}
	body {
		/*background-color: lightblue;*/
		/*margin: 40px;*/
	}
	#photo {
		display: none;
	}
	#experience {
		padding-left: 0;
	}

	#color-scheme {
		right: 50px;
		top: 50px;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: var(--black-color);
		color: var(--white-color);
	}
}
